body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.sidebar {
  width: 250px;
  height: 100vh;
  position: absolute;
  background-color: var(--content-color);
}
ul.el-menu.el-menu--vertical.el-menu-vertical-demo {
  overflow-y: auto;
}
.sidebar.sidebar-collapse {
  width: 64px;
}
.el-menu {
  background-color: var(--content-color) !important;
  border: none !important;
  color: var(--color) !important;
}
.layout {
  position: absolute;
  width: calc(100vw - 250px);
  right: 0;
  height: 100vh;
  overflow-y: scroll !important;
}
.layout-expand {
  position: absolute;
  width: calc(100vw - 64px);
  right: 0;
  height: 100vh;
  overflow-y: scroll !important;
  transition: width 0.3s ease-in;
}
.main-contant {
  padding: 20px;
  position: absolute;
  top: 48px;
  width: 100% !important;
}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
.nav-header {
  background-color: var(--content-color);
  position: fixed;
  width: inherit;
  z-index: 999;
}

/* a.nav-link {
  display: block;
  min-width: 100%;
} */
li.el-menu-item,
.el-sub-menu__title {
  font-size: 16px !important;
  height: var(--el-menu-line-height) !important;
  line-height: var(--el-menu-line-height) !important;
  padding-inline: 5px !important;
  margin-inline: 10px;
  margin-block: 5px;
  transition: padding 0.2s ease-in !important;
  color: var(--color) !important;
}

.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
  color: var(--el-menu-active-color);
}
.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
  color: #000 !important;
}

li.el-menu-item:hover,
.el-sub-menu__title:hover {
  background-color: #f0f0f0 !important;
  border-radius: 7px;
  padding-left: 10px !important;
}
li.el-menu-item.is-active {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 7px;
}
.el-menu-item .el-menu-tooltip__trigger {
  justify-content: center;
}
.el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger {
  justify-content: center;
  padding-left: 0 !important;
}
li.el-sub-menu.is-active .el-sub-menu__title {
  background-color: #e7e5e5 !important;
  border-radius: 7px;
}
.el-page-header__breadcrumb {
  margin-bottom: 10px !important;
}
.el-page-header.el-page-header--has-breadcrumb {
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: var(--content-color);
  box-shadow: 1px 3px 2px var(--content-color);
}
.each-content-container {
  background-color: var(--content-color);
  box-shadow: 1px 3px 2px var(--content-color);
  padding: 10px 15px;
  border-radius: 7px;
}
thead.el-table__body-header th,
tr.el-table__row,
tr.el-table__row.el-table__row--striped {
  background-color: var(--content-color) !important;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--content-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}
.table-search-action {
  border-bottom: 1px solid #ebeef5;
  padding-bottom: 10px;
}
.header-dropdown {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-group {
  margin-inline: 12px;
  color: var(--menu-group);
  padding-top: 10px;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #fff !important;
  background-color: var(--primary-color) !important;
}

#permission-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
#permission-table thead,
tr {
  text-align: left;
}
#permission-table thead th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}
#permission-table tbody tr:nth-of-type(even) {
  background-color: #eee;
  padding: 10px;
}
#permission-table tbody tr td {
  padding: 5px 10px;
}

.el-checkbox.el-checkbox--large .el-checkbox__inner {
  width: 15px !important;
  height: 15px !important;
}
.el-checkbox__inner {
  border: 1px solid #a4a5a7 !important;
}
