.sidebar {
  width: 250px;
  height: 100vh;
  position: absolute;
}
.sidebar.sidebar-collapse {
  width: 64px;
}
.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
  color: var(--el-menu-title-active-color);
}
ul.el-menu.el-menu--vertical.el-menu-vertical-demo {
  overflow-y: auto;
}
.el-menu {
  background-color: var(--content-color) !important;
  border: none !important;
}
.el-menu--collapse {
  height: 100vh;
}
li.el-menu-item,
.el-sub-menu__title {
  font-size: 16px !important;
  height: var(--el-menu-line-height) !important;
  line-height: var(--el-menu-line-height) !important;
  padding-inline: 5px !important;
  margin-inline: 10px;
  margin-block: 5px;
  transition: padding 0.2s ease-in !important;
}
li.el-menu-item a {
  width: 100%;
}
li.el-menu-item:hover,
.el-sub-menu__title:hover {
  background-color: #f0f0f0 !important;
  border-radius: 7px;
  padding-left: 10px !important;
  color: var(--el-menu-hover-color);
}
li.el-menu-item.is-active {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 7px;
}
.el-menu-item .el-menu-tooltip__trigger {
  justify-content: center;
}
.el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger {
  justify-content: center;
  padding-left: 0 !important;
}
li.el-sub-menu.is-active .el-sub-menu__title {
  background-color: #e7e5e5 !important;
  border-radius: 7px;
  color: var(--el-menu-title-active-color);
}
