:root {
  --body-color: #ddd;
  --content-color: #fff;
  --primary-color: #7367f0;
  --el-menu-line-height: 45px;
}
:root.dark {
  --body-color: #273746;
  --color: #fff;
  --menu-group: #ddd;
  --content-color: #212f3c;
  --primary-color: #7367f0;
}

body.dark {
  background-color: #7367f0;
}

body.light {
  background-color: #fff;
}
